{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="{% static 'images/cm.png' %}">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <title>Confort Mali</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>

<body>

 <!-- Start Header/Navigation -->
 <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/cm.png' %}" alt="Logo Confort Mali">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li>
                    <a class="nav-link" href="{% url 'index' %}">Accueil</a>
                </li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'shop' %}">Produits</a></li>
                <li><a class="nav-link" href="{% url 'about' %}">A propos</a></li>
                <li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                <li><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'images/user.svg' %}" alt="Utilisateur">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="#">{{ user.username }}</a></li>
                            <li><a class="dropdown-item" href="#">{{ user.email }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <img src="{% static 'images/user.svg' %}" alt="Connexion">
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cart' %}">
                        <img src="{% static 'images/cart.svg' %}" alt="Panier">
                        <span id="cart-count" class="badge bg-primary">0</span> <!-- Identifiant pour le compteur -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- End Header/Navigation -->


<!-- Start Hero Section -->
<div class="hero" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>{{ category.nom }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->
<br>
<br>

<!-- Start Product Section -->
<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <div class="product-item-container" style="border: 1px solid #00aff9; padding: 5px; border-radius: 4px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img src="{{ product.image.url }}" class="img-fluid product-thumbnail" alt="{{ product.name }}">
        <h6 class="product-title text-center">{{ product.name }}</h6>
        <strong class="product-price text-center" style="color: rgb(0, 115, 255); display: block; margin: 0 auto;">{{ product.price }} FCFA</strong>
        <p class="product-description text-center">{{ product.description }}</p>
        <div class="text-center">
          <button class="add-to-cart-btn" onclick="addToCart({{ product.id }})" style="border: none; background-color: rgb(0, 115, 255); color: white; border-radius: 4px; padding: 5px 10px; margin-top: 10px; cursor: pointer;">Ajouter au panier</button>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- End Product Section -->

 <!-- Modal -->
 <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" alt="" class="img-fluid" id="modalImage">
          <div id="modalDescription"></div>
        </div>
      </div>
    </div>
  </div>

<!-- Ajoutez cette balise de script avant votre script pour ouvrir le modal -->


<script>
  // JavaScript pour gérer l'ouverture du modal et l'affichage de l'image et de la description
document.addEventListener('DOMContentLoaded', function() {
    const productItems = document.querySelectorAll('.product-item-container');

    productItems.forEach(item => {
        item.addEventListener('click', function(event) {
            // Vérifier si l'élément cliqué est le bouton "Ajouter au panier"
            if (event.target.classList.contains('add-to-cart-btn')) {
                return;  // Ne rien faire si c'est le bouton
            }

            const imgSrc = this.querySelector('img').getAttribute('src');
            const description = this.querySelector('.product-description').textContent;

            // Afficher l'image dans le modal
            document.getElementById('modalImage').src = imgSrc;

            // Afficher la description sous l'image
            document.getElementById('modalDescription').textContent = description;

            // Ouvrir le modal
            $('#imageModal').modal('show');
        });
    });
});

</script>

<script>
    // Fonction pour mettre à jour le compteur du panier
    function updateCartCount(count) {
        var cartCountElement = document.getElementById('cart-count');
        if (cartCountElement) {
            cartCountElement.textContent = count;
        }
    }

    // Fonction pour ajouter un produit au panier
    function addToCart(productId) {
        $.ajax({
            url: "{% url 'add_to_cart' 0 %}".replace('0', productId),  // Remplacer l'ID du produit dans l'URL
            method: "POST",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'  // Inclure le token CSRF pour les requêtes POST
            },
            success: function(data) {
                var currentCount = parseInt(document.getElementById('cart-count').textContent);
                updateCartCount(currentCount + 1); // Incrémente le compteur de 1
            },
            error: function(error) {
                console.log("Erreur lors de l'ajout au panier:", error);
            }
        });
    }
</script>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/tiny-slider.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- Footer Section -->
  <footer class="footer-section">
    <div class="container relative">
      <div class="row g-5 mb-5">
        <div class="col-lg-4">
          <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Confort Mali<span>.</span></a></div>
          <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant.</p>

          <ul class="list-unstyled custom-social">
            <li><a href="#"><i class='bx bxl-facebook-circle'></i></a></li>
            <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
            <li><a href="#"><i class='bx bxl-instagram-alt'></i></a></li>
            <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
          </ul>
        </div>

        <div class="col-lg-8">
          <div class="row links-wrap">
            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="{% url 'about' %}">À propos</a></li>
                <li><a href="{% url 'services' %}">Nos Services</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>

      <div class="border-top copyright">
        <div class="row pt-4">
          <div class="col-lg-6">
            <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; <a href="https://ConfortMali.com">www.ConfortMali.com</a> Distributed By <a href="https://www.ConfortMali.com">Confort Mali</a></p>
          </div>
          <div class="col-lg-6 text-center text-lg-end">
            <ul class="list-unstyled d-inline-flex ms-auto">
              <li class="me-4"><a href="#">Termes &amp; Conditions</a></li>
              <li><a href="#">Politique de confidentialité</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer Section -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/tiny-slider.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
